{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <h1>Oups ! Une erreur inattendue s'est produite</h1>

        <p>Nous en avons été informés et nous allons essayer de corriger le problème au plus vite.</p>
        <p>Si le problème persiste, vous pouvez contacter l'<a href="/aide/assistance.html">assistance.</a></p>

        <p><a href="/">Retour à l'accueil</a></p>

    </div>

{% endblock content %}
