<!DOCTYPE html>
<html lang="fr">

{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    {% block css %}
        <link href="{% static 'core/bootstrap3/css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'core/style.css' %}" rel="stylesheet" type="text/css" media="all">
    {% endblock css %}
    <title>EEDF - Portail</title>
</head>

<body {% if conf.test_site %}style="margin-top: 100px;"{% endif %}>

<nav class="navbar navbar-default navbar-fixed-top">
    {% if conf.test_site %}
    <div class="test-warning bg-danger text-danger text-center">
        <big><strong>
            Site de {{ conf.test_site }}
        </strong></big>
    </div>
    {% endif %}
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"></a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% block menu %}{% endblock %}
            </ul>
            {% if request.user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-user"></span>
                            {{ request.user.get_short_name }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            {% if user.is_superuser %}
                                <li>
                                    <a href="{% url 'admin:index' %}">Admin Django</a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="{{ conf.jeito_host }}/account/">Mon profil</a>
                            </li>
                            <li>
                                <a href="{{ conf.jeito_host }}/change-password/">Changer le mot de passe</a>
                            </li>
                            <li>
                                <a href="{% url 'oidc_total_logout' %}?next=/&fail=/">Déconnexion</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                {% block search %}{% endblock %}
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="{% url 'oidc_authentication' %}">
                            <span class="glyphicon glyphicon-user"></span>
                            Connexion
                        </a>
                    </li>
                </ul>
            {% endif %}
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

{% block messages %}
    {% if messages %}
        <div class="container">
            {% for message in messages %}
                <div class="alert {{ message.extra_tags }}" role="alert">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock messages %}

<script src="{% static 'core/js/jquery-3.6.4.min.js' %}"></script>
<script src="{% static 'core/bootstrap3/js/bootstrap.js' %}"></script>

{% block content %}{% endblock content %}

<link href="{% static 'core/css/select2-bootstrap.css' %}" rel="stylesheet">

<footer>
    <div class="bandeau">
        <div class="logo"></div>
        <div class="address">
            <p>
                <b>SIEGE NATIONAL</b>
            </p>
            <p>
                12 place Georges Pompidou<br>
                93167 Noisy-le-Grand Cedex<br>
                Tél : 01 48 15 17 66<br>
                <a href="mailto:accueil.national@eedf.fr">accueil.national@eedf.fr</a>
            </p>
            <p>
                <a href="{% url 'legal' %}">Mentions légales</a>
            </p>
            <p>
                <b><a href="mailto:adhesions@eedf.fr">Contacter l'équipe support</a></b>
            </p>
        </div>
        {% for site in social_networks %}
            <div class="social-network">
                <a href="{{ site.url }}" target="_blank">
                    <img src="{{ site.image.url }}">
                </a>
                {% if perms.websites.update_site or perms.websites.delete_site %}
                    <br><br>
                {% endif %}
                {% if perms.websites.change_site %}
                    <a href="{% url 'site_update' site.pk %}" class="text-danger" title="Modifier"><span class="glyphicon glyphicon-pencil"></span></a>
                {% endif %}
                {% if perms.websites.update_site and perms.websites.delete_site %}&nbsp;{% endif %}
                {% if perms.websites.delete_site %}
                    <a href="{% url 'site_delete' site.pk %}" class="text-danger" title="Supprimer"><span class="glyphicon glyphicon-trash"></span></a>
                {% endif %}
            </div>
        {% endfor %}
        {% if perms.websites.add_site %}
            <div class="social-network">
                <a href="{% url 'site_create' %}?social-network" class="text-danger"><span class="glyphicon glyphicon-plus"></span> Ajouter</a>
            </div>
        {% endif %}
        <div class="don">
            <a href="https://www.eedf.fr/faire-un-don/" target="_blank"><b>Je fais un don</b></a>
        </div>
    </div>
</footer>

{% block js %}
{% endblock js %}

</body>
</html>
