{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>Mentions légales</h1>

    <h2>Propriétaire</h2>
    <p>Ce site est la propriété des Éclaireuses Éclaireurs de France, association loi 1901<br>
        Siège social : 12 place Georges Pompidou 93160 Noisy le Grand<br>
        Direct·eur·rice de la publication : Olivier Barbey – Délégué Général</p>

    <h2>Hébergement</h2>
    <p>Ce site est hébergé par OVH Groupe SAS, société immatriculée au RCS de Lille sous le numéro 537 407 926<br>
        Adresse : 2 rue Kellermann - 59100 Roubaix - France<br>
        Téléphone : 118 707</p>

    <h2>Réalisation</h2>
    <p>Ce site a été réalisé par la société Kisis, SARL au capital de 5.000 €, ayant son siège social 29 rue Baude, 31820 Pibrac,
        immatriculée au RCS Toulouse sous le numéro 523 732 311.</p>

    <h2>Cookies</h2>
    <p>Ce site dépose un cookie de session lorsque (et uniquement lorsque) vous vous connectez,
        dans le seul but de vous connecter automatiquement sur divers autres sites proposés par ce portail.</p>

    <h2>Données personnelles</h2>
    <p>Ce site conserve uniquement vos nom, prénom, email et identifiant en provenance de <a href="{{ conf.jeito_host }}">Jéito</a>.</p>
    <p>Pour contacter les E.E.D.F. au sujet de leur politique de confidentialité ou de la collecte et du traitement de vos données personnelles,
        vous pouvez envoyer un mail à <a href="mailto:adhesions@eedf.fr">adhesions@eedf.fr</a>.</p>
    <p>En cas de problème, vous pouvez adresser une plainte auprès de la Commission Nationale de l'Informatique et des Libertés en cliquant
        sur ce <a href="https://www.cnil.fr/fr/plaintes">lien</a>.</p>
    <p>Vous pouvez à tout moment demander à connaître les données personnelles que les E.E.D.F. possèdent à votre sujet.
        Pour cela, envoyez un mail à <a href="mailto:adhesions@eedf.fr">adhesions@eedf.fr</a>.
        Vous pouvez également demander à ce que certaines ou l'ensemble de vos données soient modifiées ou supprimées en écrivant à la même adresse.
        Dans tous les cas, il vous sera demandé de prouver votre identité (par exemple via une copie de votre carte d'identité).</p>

</div>

{% endblock %}
