/*
#F6A800 jaune
#97BF0D vert
#14A0C8 bleu
#BD1220 rouge
*/

@font-face {
    font-family: "digital";
    src: url("fonts/DS-DIGIB.TTF");
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 70px 0 calc(10px + 25ex) 0; /* bottom = footer height + margin */
}

.navbar-brand {
    background: url(/static/core/img/logo.png) no-repeat 15px 0;
    width: 80px;
}

h1 {
    font-size: 24px;
    margin-top: 0;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 2.5ex;
    height: 25ex;
    color: white;
}

footer .address a, footer .address a:hover, footer .address a:visited,
footer .don a, footer .don a:hover, footer .don a:visited {
    color: white;
}

footer .bandeau {
  width: 100%;
  line-height: 2.5ex;
  height: 25ex;
  background-color: #337ab7;
}

footer .logo {
  display: inline-block;
  vertical-align: middle;
  margin-left: 50px;
  margin-right: 50px;
  height: 25ex;
  width: 25ex;
  background-image: url(/static/core/img/logo-blanc.png);
  background-size: cover;
}

.bandeau > div {
    display: inline-block;
    vertical-align: middle;
}

.address {
    margin-right: 10ex;
}

.social-network img {
    width: 50px;
    aspect-ratio: 1;
}

.don {
    margin-left: 10ex;
}

.bandeau .social-network {
    margin-left: 2ex;
}

.bandeau p {
    margin: 1ex 0;
}

.btn + .btn {
  margin-left: 20px;
}

.form-inline {
  margin-bottom: 20px;
}

.form-inline .form-group + .form-group,
.form-inline .checkbox,
.form-inline button {
  margin-left: 20px;
}

#comment {
  margin-top: 20px;
}

tr.separator:not(:nth-child(2)) {
    border-top: solid red 2px;
}

tr.total td {
    font-weight: bold;
}

.dashboard .number {
    font-family: "digital";
    font-size: 400%;
}

.dashboard .unit {
    font-size: 150%;
}

.dashboard .percent {
    font-family: "digital";
    font-size: 250%;
    color: green;
    margin-left: .25em;
}

.dashboard .percent.negative {
    color: red;
}

.form-inline .form-group + .form-group {
    margin-left: 12px;
}

.title-action {
    float: right;
    margin-bottom: 1em;
}

th {
    white-space: nowrap;
}

.table-striped > tbody > tr:nth-of-type(odd).balance_neg {
    background-color: #ffc0c0;
}

.table-striped > tbody > tr:nth-of-type(even).balance_neg {
    background-color: #f0c0c0;
}

.table-striped > tbody > tr:nth-of-type(odd).balance_pos {
    background-color: #c0ffc0;
}

.table-striped > tbody > tr:nth-of-type(even).balance_pos {
    background-color: #c0f0c0;
}

.table-striped > tbody > tr:nth-of-type(odd).not_lettered {
    background-color: #ffe0c0;
}

.table-striped > tbody > tr:nth-of-type(even).not_lettered {
    background-color: #ffe0c0;
}

form#filter {
    clear: right;
}

form.form-inline select#id_structure, form.form-inline select#id_function {
    width: 20em;
}

video {
    border: gray solid 1px;
    width: 95%;
}

.uppercase {
    text-transform: uppercase;
}

.test-warning {
    padding: 5px 0;
}

.invitation-create .col-md-4 .btn {
    margin-top: 2em;
    font-size: 120%;
    width: 100%;
    vertical-align: center;
    line-height: 3em;
}

.home .row p, .invitation-create .row p {
    margin-top: 1em;
}

.home .row p {
    text-align: center;
}

.home .panel {
    min-height: 10em;
    cursor: pointer !important;
}

.home .panel:hover, .panel:hover .panel-heading {
    border-color: #449ae7;
}

.home .panel:hover .panel-heading {
    background-color: #449ae7;
}

.equal .panel-body {
    min-height: 15em;
}

.select2-selection--multiple {
    padding: 0;
}

.invitation-list-form .form-group {
    margin-bottom: 0;
}

.invitation-list-form .checkbox {
    margin-top: 0;
    margin-bottom: 0;
}

.invitation-list-form .has-error .select2-container--default .select2-selection--single {
    border-color: rgb(169, 68, 66);
}

.invitation-list-form table .help-block {
    display: none;
}

.pagination {
    margin: 0;
}

.anchor:before {
    content: '';
    display: block;
    position: relative;
    width: 0;
    height: 70px;
    margin-top: -70px;
}

.adhesion-detail h1 {
    margin-bottom: 20px;
    padding-bottom: 12px;
}

.adhesion-detail h2 {
    margin-top: 20px;
    padding-top: 12px;
}

.panel-heading a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
