{% extends 'base.html' %}

{% block content %}

<div class="container">
    {% if perms.websites.change_site %}
        <a style="float: right;" href="{% url 'portal_update' %}" class="text-danger" title="Modifier"><span class="glyphicon glyphicon-pencil"></span></a>
    {% endif %}
    <h1>{{ myself.title }}</h1>
    <p>{{ myself.description|linebreaks }}</p>

    <div class="row equal">
        {% for site in site_list %}
            <div class="col-md-3 col-sm-4 col-xs-6">
                {% if perms.websites.update_site or perms.websites.delete_site %}
                    <div style="float: right; margin-top: 20px;">
                        {% if perms.websites.change_site %}
                            <a href="{% url 'site_update' site.pk %}" class="text-danger" title="Modifier"><span class="glyphicon glyphicon-pencil"></span></a>
                        {% endif %}
                        {% if perms.websites.update_site and perms.websites.delete_site %}&nbsp;{% endif %}
                        {% if perms.websites.delete_site %}
                            <a href="{% url 'site_delete' site.pk %}" class="text-danger" title="Supprimer"><span class="glyphicon glyphicon-trash"></span></a>
                        {% endif %}
                    </div>
                {% endif %}
                <h2 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><a href="{{ site.url }}" target="_blank">{{ site.title }}</a></h2>
                <div>
                    {% if site.image %}
                        <a href="{{ site.url }}" target="_blank">
                            <img src="{{ site.image.url }}" style="width: 100%; aspect-ratio: 2;">
                        </a>
                    {% endif %}
                    </div>
                <p style="line-height: 2.5ex; height: 7.5ex; overflow: hidden; margin-top: 1.5ex;">
                    {{ site.description|linebreaksbr }}
                </p>
            </div>
        {% endfor %}
        {% if perms.websites.add_site %}
            <div class="col-md-4" style="clear: both;">
                <a href="{% url 'site_create' %}" class="text-danger"><span class="glyphicon glyphicon-plus"></span> Ajouter un site</a>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}
