{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

    <h1>{% if form.instance.pk %}Modifier le site {{ form.instance.title }}{% else %}Ajouter un site{% endif %}</h1>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Enregistrer" class="btn btn-primary">
    </form>

</div>

{% endblock content %}
